<html>
<head>
<title> Week 3 </title>
<link href="../CSS/templates.css" type="text/css" rel="stylesheet">
<link href="../CSS/bootstrap.css" type="text/css" rel="stylesheet">
<link href=../CSS/foundation.css type = "text/css" rel="stylesheet">
</head>
<body>
  <div class="navbar-header"> </div>
<h1 class="heading"> WEEK 3:</h1>
<ul>
  <li class="col-md-8">Most Popular Product :</li><li class="col-md-4"> Milk 1l</li>
  <li class="col-md-8">Most Popular Category:</li> <li class="col-md-4">Dairy</li>
  <li class="col-md-8">Most Profitable Product: </li><li class="col-md-4">Imasi</li>

  <li class="col-md-8">Least Popular Product:</li><li class="col-md-4"> Shampoo 1 litre</li>
  <li class="col-md-8">Least Popular Category:</li><li class="col-md-4"> Hygiene</li>
  <li class="col-md-8">Least Profitable Product:</li><li class="col-md-4"> Mixed Sweets 5s</li>
</ul><a id="HomeLink" class="btn btn-primary" href=../index.html> Home </a>
</body>
</html>
