h1 {
  font-size: 50px;
}
p{
  font-size: 20px;

}
#linkInfo {
  color: black;
  font-size: 20px;
  margin-right: 20px;
  border: 1px solid black;
  background-color: lightblue;
  padding: 20px;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
}
#linkInfo ol {
  list-style-type: none;
  /*margin-left: 0px;*/
  padding: 0px;
  /*border: 1px dashed black;*/
}

.test {
  width: 81.5em;
  /*width: 100%;*/
  height: 50px;
}
.navbar-default {
  background-color: black;
  border: black;
}
.navbar-header {
  color: blue;
}
#heading {
  background-color: lightgrey;
  border: 1px solid black;
  margin-bottom: 0px;

}
#linkgrid {
  border: 1px solid black;
  display: inline-block;
  margin-right: 10px;
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: black;
  color: white;
}
body {
  background: lightgrey;
}
