
.heading{
  font-size: 50px;
  text-decoration: underline;
  font-style: bold;
  margin-left: 10px;
}
ul {
  border: 1px solid black;
  background-color: lightgrey;
  list-style: none;
  padding-left: 0px;
}
li {
  /*border: 1px solid black;*/
  font-size: 30px;
}
a {
font-size: 25px;
color: blue;
}
.btn btn-primary dropdown-toggle test {
  margin
}
.btn {
  /*padding-top: 5px;*/
  /*background-color:black;*/
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 20px;
}
.col-md-8 {
  border: 1px solid black;
    background-color: lightblue;
    font-size: 25px;
}
.col-md-4 {
  border: 1px solid black;
    background-color: lightblue;
    font-size: 25px;
}
/*.expanded dropdown button {
  height: 10px;
  width:100%;
}*/
.navbar-default {
  background-color: black;
}
.navbar-header {
  color: blue;
}
#heading {
  background-color: lightgrey;
  border: 1px solid black;
  margin-bottom: 0px;
  padding-left: 10px;

}
.nav li{
  border: 1px solid black;
  height: 2%;
  width: 120px;
  background-color: black;
}
#Login {
margin-right: 5px;
}
.nav {
  background-color: black;
}
body {
  background-color: lightgray;
}
#statistics {
  margin-left: 0px;
}
#sales {
  border: 1px solid black;
  font-size: 25px;
  background-color: lightblue;
}
#HomeLink {
  margin-bottom: 10px;
  margin-top: 0px;
}
#linkgrid {
  border: 1px solid black;
  display: inline-block;
  margin-right: 10px;
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: black;
  color: white;
  margin-top: 10px;
}
.navbar-brand {
  font-size: 30px;
}
